body {
  background: rgba(0, 128, 128, 0.46);
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

.sample{
  background: white;
  border-radius: 30px;
}

.example {
  background: black;
  border-radius: 30px;
  color: teal;
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.special {
  border: 1px solid black;
  border-collapse: initial;
  background-color: black; 
  border-radius: 4px;
  border-color: black;
}
.special tr {
  background-color: silver; 
  color: black; 
  border-radius: 4px;
}

.special th {
  background-color: silver; 
  color: black; 
  border-radius: 4px;
}

.special td {
  background-color: plum; 
  color: white; 
  border-radius: 4px;
}
